<h3>Search by:</h3>
  <form [formGroup]="form" (ngSubmit)="search(form.value.firstName)">
  <button id="search-submit" type="submit">Search</button>
  <input id="fname_input" formControlName="firstName" type="text" />
</form>
<br>
<h3>Employees with Name: {{firstName}}</h3>
<div>
  <table>
    <thead>
      <tr id="table_header">
        <th>id</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Employee ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees;">
        <td class="id_num">{{employee.id_number}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.second_name}}</td>
        <td>{{employee.eid}}</td>
        <td><button (click)="delete(employee.eid)">Delete</button><button>Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>
